{% extends 'base.html.twig' %}

{% block title %}Índice de clientes{% endblock %}

{% block body %}
    <h1>Índice de clientes</h1>
    <h3><a href="{{ path('client_new') }}"><i class="far fa-address-card"> Añadir un nuevo cliente</i></a></h3>

    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <th>Empresa</th>
                <th>Representante</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.company }}</td>
                <td>{{ client.representative }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.direction }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}"><i class="far fa-eye"> Ver detalles</i></a>
                    <br>
                    <a href="{{ path('client_edit', {'id': client.id}) }}"><i class="fas fa-edit"> Editar</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
