<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenidos!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" href="{{ asset('public/favicon.ico') }}">

    </head>


    <body>

    <header>
        <section>
            <div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="{{ path('homepage') }}">
                            <i class="fas fa-broadcast-tower"></i>
                            {# <img src="{{ asset('images/products/img.png') }}" alt="Equipanelec" height="70"> #}
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('homepage') }}">Lista de tareas pendientes</a>
                                </li>

                                {% if is_granted("ROLE_PROJECT_MANAGER") or is_granted("ROLE_MANAGER") %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('client_index') }}">Clientes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('task_index') }}">Tareas</a>
                                    </li>
                                {% endif %}

                                {% if is_granted("ROLE_MANAGER") %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('user_index') }}">Empleados</a>
                                    </li>
                                {% endif %}


                                {% if is_granted("ROLE_COUNTER") or is_granted("ROLE_PROJECT_MANAGER") or is_granted("ROLE_MANAGER") %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Proyectos
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" href="{{ path('project_index') }}">Proyectos activos </a></li>
                                            {% if is_granted("ROLE_COUNTER") or is_granted("ROLE_MANAGER") %}
                                                <li><a class="dropdown-item" href="{{ path('project_close_index') }}">Proyectos Cerrados </a></li>
                                                <li><a class="dropdown-item" href="{{ path('counter') }}">Contabilidad de la empresa</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endif %}



                                {% if is_granted("ROLE_CELLAR") or is_granted("ROLE_MANAGER") %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Inventario
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" href="{{ path('material_index') }}">Materiales</a></li>
                                            <li><a class="dropdown-item" href="{{ path('cable_index') }}">Cables</a></li>
                                            <li><a class="dropdown-item" href="{{ path('tool_index') }}">Herramientas</a></li>
                                        </ul>
                                    </li>
                                {% endif %}

                                {% if is_granted("ROLE_CELLAR") or is_granted("ROLE_PROJECT_MANAGER") or is_granted("ROLE_MANAGER") %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Movimientos
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            {% if is_granted("ROLE_CELLAR") or is_granted("ROLE_MANAGER") %}
                                                <li><a class="dropdown-item" href="{{ path('movement_list') }}">Lista de Movimientos</a></li>
                                            {% endif %}
                                            {% if is_granted("ROLE_PROJECT_MANAGER") or is_granted("ROLE_MANAGER") %}
                                                <li><a class="dropdown-item" href="{{ path('movement_index') }}">Movimientos asignados a un proyecto</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endif %}

                                {% if is_granted("ROLE_COUNTER") or is_granted("ROLE_WORKERS") or is_granted("ROLE_CELLAR") or is_granted("ROLE_PROJECT_MANAGER") or is_granted("ROLE_MANAGER") %}
                                    <li class="nav-item align-content-end dropdown" >
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-cogs"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-door-open"> Cerrar sesión</i></a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
    </header>


    <div class="container">
        <div class="table-responsive">
            <div class="col-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    </body>
</html>
